<!DOCTYPE html>
<html>
<head>
    #parse('/includes/commonimports.vm')


    <title>GenericMavenizedGAEProject</title>
    <script type="text/javascript">
        $(function () {
            $('#jtarget').html("<a href='http://jquery.com/'>jQuery 1.4.2</a> preconfigured!");
        });
    </script>
</head>
<body>
    
<h1>GenericMavenizedGAEProject</h1>

<p>This sample project is suitable for git cloning and modification into your own Google App Engine application.</p>


<h2>Features</h2>
<ol>
    <li>Maven-ized for dependency and lifecycle management!</li>
    <li><a href="http://velocity.apache.org/tools/releases/1.4/view/">VelocityViewServlet</a> templating preconfigured!</li>
    <li id="jtarget">Comes with jQuery 1.4.2!</li>
    <li>Uses <a href="http://code.google.com/p/twig-persist/">Twig Persist</a>!</li></li>

    <li>GAE security preconfigured for the /admin/* folder</li>
</ol>

<p>Git Clone this and then git pull it later if you need to get updates and features.</p>
<p>Use your IDE's "TODO" function to search out bits of code you should edit after cloning.</p>
</body>
</html>

