<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" type="image/ico" href="http://www.sprymedia.co.uk/media/images/favicon.ico"/>

    <title>DataTables example</title>
    #parse('/includes/commonimports.vm')

    <style type="text/css" title="currentStyle">
        @import "/css/datatables/demo_page.css";
        @import "/css/datatables/demo_table.css";
    </style>

    <style type="type/css">
        input { display: block; }
    </style>

    <script type="text/javascript" language="javascript" src="/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        jQ(document).ready(function() {
            oTable = jQ('#example').dataTable( {
                "bProcessing": true,
                "bServerSide": true,
                "bJQueryUI": true,
                "sAjaxSource": "/api/todo/datatable"
            } );

            jQ('#createTask').submit(function() {
                jQ.post('/api/todo/create',
                        jQ(this).serialize(),
                        function(task) {
                            oTable.fnAddData([task.task, task.taskDescription]);
                        },
                        "json");
                jQ("#description").
                jQ("#task").select();
                return false;
            });
        } );

    </script>
</head>
<body>
<div>
    <h1>TodoItems</h1>

    <form action="/api/todo/create" method="POST" id="createTask" >
        <fieldset>
            <legend>Create New Task</legend>
            
            <label for="task">Task</label>
            <input type="text" name="task" id="task"/>


            <label for="description">Description</label>
            <input type="text" name="description" id="description" />

            <input type="submit" value="Create New" />
        </fieldset>

    </form>


    <h1>Full Listing</h1>
    <div>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
            <thead>
            <tr>
                <th width="30%">Task</th>
                <th width="70%">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="5" class="dataTables_empty">Loading data from server</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Task</th>
                <th>Description</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="spacer"></div>
</div>
</body>
</html>